*,
*:before,
*:after {
    box-sizing:border-box;
    margin:0;
    font-family: 'Raleway','Eczar','Times New Roman', Times, serif
}

.container {
    width:600px;
    margin:0 auto;
}
header {
    display:flex;
    justify-content:center;
    align-items:center;
}

#logo {
    width:150px;
}

/*Form Elements*/

.button-container {
    display:flex;
    align-items:center;
    justify-content:center;
    margin:30px;
}

.form-container {
    display:flex;
    align-items:center;
    justify-content:center;
 
}

button {
    padding:15px 10px;
}

#form-addbook {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    display: none;
    position: fixed;
    background-color:white;
    border:2px solid black;
    border-radius:5px;
    padding:50px;

}

#form-addbook div{
    padding:5px 0px;
}


/*Display Library Elements*/
.divider {
    background-color:blanchedalmond;
    padding:5px;
}

.library-list {
    display:flex;
    justify-content:center;
    align-items:center;
}

.library-list td {
    padding:15px;
}

